<h3>Select a Color</h3>
<% @colors.each do |color| %>
  <%= form_tag('/foods', method: 'post') do %>
    <%= hidden_field_tag('food[color]', color.first) %>
    <%= hidden_field_tag('food[date]', Date.today) %>
    <%= submit_tag("#{color.first}") %>
  <% end %>
<% end %>

<h3>Today's Color Log</h3>
<% @foods.each do |food| %>
  <p><%= food.color %> - <%= food.color_count %></p>
<% end %>