<!DOCTYPE html>
<html>
  <head>
    <title>EatTheRainbow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body-container">
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li class="account-menu">Hello, <%= current_user.email %></li>
          <% end %>
        </ul>
      </nav>
<!--      <p class="notice"><%#= notice %></p>-->
<!--      <p class="alert"><%#= alert %></p>-->
      <%= yield %>
    </div>
  </body>
</html>
